<!doctype html>
<html>
	<head>
		<title>venn - CV</title>
	</head>
	<body>
		<nav>
			<ul>
				<li>ABOUT</li>
				<li>SKILLS</li>
				<li>ATTRIBUTES</li>
				<li>PROJECTS</li>
			</ul>
		</nav>
		<div id="intro">
			Hard-working computer science student with a strong background in design. Has maintained well-above average academic results despite elevated course load. Articulate as well as highly comfortable working in groups. Passionate programmer preparing for a career in software engineering. 
		</div>
		<div id="skills">
		</div>
		<div id="characteristics">
		</div>
		<div id="education">
		</div>
		<div id="projects">
		<div>
	</body>
</html>

