<!doctype html>
<html>
	<head>
		<title>venn - CV</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/app/static/css/cv.css" />
	</head>
	<body>
		<nav>
			<ul>
				<li>ABOUT</li>
				<li>SKILLS</li>
				<li>ATTRIBUTES</li>
				<li>PROJECTS</li>
			</ul>
		</nav>
		<h1>Curriculum Vitae</h1>
		<section id="intro">
			Hard-working computer science student with a strong background in design. Has maintained well-above average academic results despite elevated course load. Articulate as well as highly comfortable working in groups. Passionate programmer preparing for a career in software engineering 
		</section>
		<section id="skills">
			<div id="sh1" class="sectionhead">
				<h2>SKILLS</h2>
			</div>
			<h3>LANGUAGES</h3>
			<ul id="languages">
				<li>Java</li>
				<li>Python</li>
				<li>HTML/CSS</li>
			</ul>
			<h3>FRAMEWORKS/LIBRARIES</h3>
			<ul id="fra/libs">
				<li>Android</li>
				<li>libGDX</li>
				<li>Flask</li>
				<li>nose/JUnit</li>
			</ul>
			<h3>SOFTWARE</h3>
			<ul id="software">
				<li>Git</li>
				<li>Photoshop</li>
				<li>Illustrator</li>
			</ul>
		</section>
		<section id="education">
			<div id="sh2" class="sectionhead">
				<h2>EDUCATION</h2>
			</div>
			<h3>Chalmers University of Technology</h3>
			<em>Software Engineering, 3rd year</em>
			<br>
			Will complete Bachelor’s Degree in Software Engineering in May. Has taken numerous design courses beyond the normal course load and will as a result have completed 1.33 Bachelor’s Degrees in 3 years.
		</section>
		<section id="characteristics">
			<div id="sh3" class="sectionhead">
				<h2>PERSONAL ATTRIBUTES</h2>
			</div>
			<table>
				<tr>
					<th>Fast learner</th>
					<td>Quickly grasps unfamiliar concepts and problems</td>
				</tr>
				<tr>
					<th>Skilled communicator</th>
					<td>Can easily connect with both customers and teammates thanks to prior sales experience. Has worked in a multitude of group projects and utilized Scrum.</td>
				</tr>
				<tr>
					<th>Problem solver</th>
					<td>Efficient yet flexible in the face of daunting complex tasks</td>
				</tr>
				<tr>
					<th>Enthusiastic</th>
					<td>Passionate and fascinated by programming, design and always wanting to learn more</td>
				</tr>
			</table>
		</section>
		<section id="projects">
			<div id="sh4" class="sectionhead">
				<h2>PROJECTS</h2>
			</div>
			<div id="1">
			</div>
			<div id="2">
			</div>
			<div id="3">
			</div>
		</section>
		<footer>
		</footer>
	</body>
</html>

